*{
  box-sizing : border-box;
  font-family: 'Aria', Helvetica, sans-serif;
}
@font-face{
  font-family: 'font1';
  src        :  url(font/BngMUXZYTXPIvIBgJJSb6ufN5qA.ttf);
}
@font-face{
  font-family: 'font2';
  src        :  url(font/BngRUXZYTXPIvIBgJJSb6u92w7CGwRg.ttf);
}
body{
  position: relative;
  height  : 2403.16px;
}
header{
  position: fixed;
  top     : 0;
  width   : 1856px;
  z-index : 10000;
}
div.top-header{
  width           : 1856px;
  height          : 3px;
  background-color: #F48024;
}
div.down-header{
  width           : 1856px;
  height          : 47px;
  box-shadow      : 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
  background-color: #fafafb;
  position        : relative;
}
div.signup a{
  width           : 66.88px;
  height          : 33px;
  padding         : 9px 10.4px;
  font-size       : 13px;
  font-family     : 'Aria', Helvetica, sans-serif;
  font-weight     : 100;
  color           : #FFF;
  background-color: #0095ff;
  border          : 1px solid #07c;
  box-shadow      : inset 0 1px 0 #66bfff;
  position        : absolute;
  right           : 304px;
  top             : 7px;
  border-radius   : 3px;
}
div.signup a:hover{
  color           : rgba(255,255,255,0.9);
  background-color: #07c;
  border-color    : #005999;
  box-shadow      : inset 0 1px 0 #3af;
}
div.login a{
  color        : #0077CC;
  font-size    : 13px;
  font-family  : 'Aria', Helvetica, sans-serif;
  padding      : 10px 10px 10px 11px;
  border-radius: 3px;
  position     : absolute;
  top          : 7px;
  right        : 374px;
  width        : 58.2px;
  height       : 33px;
}
div.login a:hover{
  color           : #005999;
  background-color: rgba(0,119,204,0.1);
  border-color    : transparent;
  box-shadow      : none;
}
div.search input{
  background-color: #FFF;
  padding         : 9.8px 9.1px 7.8px 33px;
  width           : 650.39px;
  height          : 32.59px;
  position        : absolute;
  top             : 7px;
  right           : 449px;
  border-radius   : 2px;
  border          : 1px solid #bbc0c4;
}
div.search input::placeholder{
  opacity  : 0.5;
  font-size: 12px;
  word-spacing: 1px;
}
div.search span{
  font-size  : 18px;
  position   : absolute;
  top        : 12px;
  left       : 42.5em;
  color      : #bbc0c4;
  font-weight: normal;
}
div.link-header{
  color         : #242729;
  font-size     : 13px;
  font-family   : 'Aria', Helvetica, sans-serif;
  position      : absolute;
  top           : 10px;
  left          : 464px;
  display       : flex;
  flex-direction: row-reverse;
}
div.link-header a.use{
  height       : 28px;
  color        : #535A60;
  font-size    : 13px;
  font-family  : 'Aria', Helvetica, sans-serif;
  padding      : 7px 16px;
  margin-left  : 4px;
  border-radius: 50px;
}
div.link-header a.use:hover{
  background-color: #e4e6e8;
  color           : #0C0D0E;
  text-decoration : none;
  outline         : none;
}
div.link-header a.cus{
  height       : 28px;
  color        : #535A60;
  font-size    : 13px;
  font-family  : 'Aria', Helvetica, sans-serif;
  padding      : 7px 16px;
  margin-left  : 4px;
  border-radius: 50px;
}
div.link-header a.cus:hover{
  background-color: #e4e6e8;
  color           : #0C0D0E;
  text-decoration : none;
  outline         : none;
}
div.link-header a.pro{
  height       : 28px;
  color        : #535A60;
  font-size    : 13px;
  font-family  : 'Aria', Helvetica, sans-serif;
  padding      : 7px 16px;
  border-radius: 50px;
}
div.link-header a.pro:hover{
  background-color: #e4e6e8;
  color           : #0C0D0E;
  text-decoration : none;
  outline         : none;
}
div.all{
  width           : 1100px;
  height          : 2158.16px;
  color           : #242729;
  background-color: #FFF;
  padding         : 0 24px 24px 24px;
  border-left     : 1px solid #d6d9dc;
  margin-left     : 460px;
  margin-top      : 50px;
}
div.section1{
  position      : relative;
  display       : flex;
  flex-direction: row;
  height        : 101px;
  border-bottom : 1px solid #e4e6e8;
  margin-bottom : 16px;
}
div.ques{
  margin-top: 27px;
}
div.ques a{
  color      : #242729;
  font-size  : 27px;
  font-family: 'Aria', Helvetica, sans-serif;
}
div.ask a{
  margin-top      : 24px;
  color           : #FFF;
  font-size       : 13px;
  font-family     : 'Aria', Helvetica, sans-serif;
  background-color: #0095FF;
  padding         : 12px 11px 10px 11px;
  position        : absolute;
  right           : 0;
  top             : 0;
  border-color    : #07c;
  box-shadow      : inset 0 1px 0 0 rgba(102,191,255,0.75), 0 0 0 0 rgba(0,149,255,0);
  color           : #FFF;
  border-radius   : 3px;
  height          : 37.78px;
  width           : 100.09px;
}
div.ask a:focus{
  background-color: #0095ff;
}
div.ask a:hover{
  background-color: #007ed9;
}
div.date1{
  position      : absolute;
  left          : 0;
  bottom        : 17px;
  display       : flex;
  flex-direction: row;
}
div.pashof{
  color      : #6A737C;
  font-size  : 13px;
  font-family: 'Aria', Helvetica, sans-serif;
  margin     : 0 2px 0 0;
}
div.asked{
  color       : #242729;
  font-family : 'Aria', Helvetica, sans-serif;
  font-size   : 13px;
  margin-left : 3.5px;
  margin-right: 16px;
}
div.active{
  color      : #242729;
  font-family: 'Aria', Helvetica, sans-serif;
  font-size  : 13px;
  margin-left: 3.5px;
  margin-right: 16px;
}
div.view{
  color      : #242729;
  font-family: 'Aria', Helvetica, sans-serif;
  font-size  : 13px;
  margin-left: 3.5px;
}
div.section2{
  position      : relative;
  display       : flex;
  flex-direction: row;
}
div.box-right1{
  height  : 175.59px;
  width   : 51px;
  padding : 0 15px 0 0;
  position: relative;
}
div.box-right1 svg path{
  fill  : #bbc0c4;
  cursor: pointer;
}
div.box-right1 div.num{
  color         : #6A737C;
  font-size     : 21px;
  font-family   : 'Aria', Helvetica, sans-serif;
  margin        : 3px;
  padding-left  : 9px;
  padding-bottom: 2px;
}
div.box-right1 svg.iconStar{
  margin: 8px 5px 5px 9px;
}
div.box-center1{
  height       : 258px;
  width        : 676px;
  position     : relative;
}
div.box-center1 p{
  font-size  : 15px;
  font-family: 'Aria', Helvetica, sans-serif;
  margin     : 0 0 23px;
  color      : #242729;
  line-height: 1.3;
}
div.java a{
  color           : #39739D;
  font-size       : 12px;
  font-family     : 'Aria', Helvetica, sans-serif;
  background-color: #E1ECF4;
  margin          : 10px 5px 2px 0;
  padding         : 4.8px 7px;
  border-radius   : 3px;
}
div.lightbox a{
  color           : #39739D;
  font-size       : 12px;
  font-family     : 'Aria', Helvetica, sans-serif;
  background-color: #E1ECF4;
  margin          : 10px 4px 2px 0;
  padding         : 4.8px 7.5px 4.8px 8px;
  border-radius   : 3px;
}
div.lightbox2 a{
  color           : #39739D;
  font-size       : 12px;
  font-family     : 'Aria', Helvetica, sans-serif;
  background-color: #E1ECF4;
  margin          : 10px 5px 2px 0;
  padding         : 4.8px 6px 4.8px 8px;
  border-radius   : 3px;
}
div.dir-row{
  display       : flex;
  flex-direction: row;
}
div.java a:hover{
  color           : #33658a;
  background-color: #cee0ed;
  border-color    : #cee0ed;
}
div.lightbox a:hover{
  color           : #33658a;
  background-color: #cee0ed;
  border-color    : #cee0ed;
}
div.lightbox2 a:hover{
  color           : #33658a;
  background-color: #cee0ed;
  border-color    : #cee0ed;
}
div.sec-share1{
  margin-top: 36px;
}
div.pashof2 a{
  color      : #848d95;
  font-size  : 13px;
  font-family: 'Aria', Helvetica, sans-serif;
  margin     : 0 4.1px 0 4px;
}
div.pashof2 a:hover{
  color: #3b4045;
}
div.user-cen-right{
  color      : #6A737C;
  font-family: 'Aria', Helvetica, sans-serif;
  font-size  : 13px;
  padding    : 5px 6px 7px 7px;
  position   : absolute;
  bottom     : 84px;
  right      : 248px;
}
div.user-date1{
  margin-bottom: 5px;
}
div.user-date1 a{
  color      : #0077CC;
  font-size  : 12px;
  font-family: 'Aria', Helvetica, sans-serif;
}
div.user-date1 a:hover{
  color: #3af;
}
div.lr-cen{
  margin-left: 8px;
  margin-top : 2px;
}
div.name-prof1{
  margin-bottom: 4px;
}
div.name-prof1 a{
  color      : #0077CC;
  font-size  : 13px;
  font-family: 'Aria', Helvetica, sans-serif;
}
div.name-prof1 a:hover{
  color: #3af;
}
span.num-view1{
  color      : #6A737C;
  font-size  : 12px;
  font-family: 'Aria', Helvetica, sans-serif;
  margin     : 0 2 0 0;
  font-weight: bold;
}
span.num-view2{
  color      : #6A737C;
  font-size  : 12px;
  font-family: 'Aria', Helvetica, sans-serif;
  margin     : 0 6px 0 0;
  margin-left: 15px;
}
span.num-view3{
  color      : #6A737C;
  font-size  : 12px;
  font-family: 'Aria', Helvetica, sans-serif;
  margin     : 0 2px 0 0;
  margin-left: 10px;
}
div.user-cen-left{
  color           : #6A737C;
  font-family     : 'Aria', Helvetica, sans-serif;
  font-size       : 13px;
  padding         : 5px 6px 7px 7px;
  position        : absolute;
  bottom          : 84px;
  right           : 0;
  height          : 67px;
  width           : 200px;
  border-radius   : 3px;
  background-color: #E1ECF4;
}
div.user-date2{
  margin-bottom: 5px;
  margin-top   : 1px;
}
div.user-date2 a{
  color      : #6A737C;
  font-size  : 12px;
  font-family: 'Aria', Helvetica, sans-serif;
}
div.rr-cen{
  margin-left: 8px;
  margin-top : 2px;
}
div.prof2 {
  height         : 32px;
  width          : 32px;
  box-shadow     : 2px 2px 4px rgba(12,13,14,0.5);
  border-collapse: separate;
}
div.name-prof2{
  margin-bottom: 4px;
}
div.name-prof2 a{
  color      : #0077CC;
  font-size  : 13px;
  font-family: 'Aria', Helvetica, sans-serif;
}
div.name-prof2 a:hover{
  color: #3af;
}
span.num-view4{
  color      : #6A737C;
  font-size  : 12px;
  font-family: 'Aria', Helvetica, sans-serif;
  margin     : 0 2 0 0;
  font-weight: bold;
}
span.num-view5{
  color      : #6A737C;
  font-size  : 12px;
  font-family: 'Aria', Helvetica, sans-serif;
  margin     : 0 6px 0 0;
  margin-left: 15px;
}
span.num-view6{
  color      : #6A737C;
  font-size  : 12px;
  font-family: 'Aria', Helvetica, sans-serif;
  margin     : 0 6px 0 0;
  margin-left: 10px;
}
span.num-view7{
  color      : #6A737C;
  font-size  : 12px;
  font-family: 'Aria', Helvetica, sans-serif;
  margin     : 0 2px 0 0;
  margin-left: 10px;
}
code{
  padding         : 1px 5px;
  white-space     : normal;
  font-family     : Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  background-color: #eff0f1;
}
div.down-center{
  position     : absolute;
  left         : 0;
  bottom       : 27px;
  border-top   : 1px solid #e4e6e8;
  border-bottom: 1px solid #e4e6e8;
}
div.down-center p{
  margin     : 7px 10px 7px 15px;
  font-size  : 13px;
  color      : #242729;
  line-height: 1;
}
div.down-center div.number{
  color    : #9199A1;
  font-size: 13px;
  padding  : 7px 2px 6px 0;
}
div.down-center svg path{
  fill  : #9199A1;
}
div.down-center span a span{
  color : #9199A1;
}
div.end-center1{
  color    : #848d95;
  opacity  : 0.6;
  font-size: 13px;
  padding  : 0 3px 2px;
  position : absolute;
  left     : 0;
  bottom   : 0;
}
div.box-right2{
  position        : absolute;
  right           : 0;
  top             : 0;
  /*height        : 297px;*/
  width           : 300px;
  font-size       : 13px;
  background-color: #FFF8DC;
  margin          : 0 0 16px;
  border          : 1px solid #d6d9dc;
  border-radius   : 3px;
  box-shadow      : 0 2px 8px rgba(59,64,69,0.1);
}
div.box-right2 div.blog{
  color           : #737063;
  font-size       : 12px;
  background-color: #F7F1D5;
  padding         : 13px 15px;
  font-weight     : bold;
}
.border-top{
  border-top: 1px solid #e4e6e8;
}
div.box-right2 div.link1{
  padding: 13px 10px 17px 38px;
}
div.box-right2 div.link1 a{
  font-size: 13px;
}
div.box-right2 div.feat{
  color           : #737063;
  font-size       : 12px;
  background-color: #F7F1D5;
  padding         : 13px 15px;
  font-weight     : bold;
}
div.box-right2 div.link2{
  padding: 12px 10px 12px 38px;
}
div.box-right2 div.link2 a{
  font-size  : 13px;
  line-height: 1.3;
}
div.box-right2 div.link3{
  padding: 12px 10px 12px 38px;
}
div.box-right2 div.link3 a{
  font-size  : 13px;
  line-height: 1.3;
}
div.box-right2 div.link4{
  padding: 12px 10px 12px 38px;
}
div.box-right2 div.link4 a{
  font-size  : 13px;
  line-height: 1.3;
}
div.box-right2 a:hover{
  color: #0095ff;
}
div.section3{
  position: relative;
}
div.box-center2{
  width        : 727px;
  position     : relative;
}
div.top-sec2{
  border-bottom: 1px solid #e4e6e8;
  width        : 677px;
  margin-bottom: 27px;
}
div.title h2{
  color    : #3B4045;
  font-size: 18px;
  margin   : 19px 0 17px 0;
}
div.box-right1 svg.svg-tik path{
  fill: #45A163;
}
div.top-nav{
  position      : absolute;
  right         : 0;
  top           : 0;
  display       : flex;
  flex-direction: row-reverse;
}
div.top-nav div.tab1{
  color           : #242729;
  font-size       : 12px;
  background-color: #FFF;
  padding         : 12px 10px 14px 10px;
  border-top      : 2px solid #F48024;
  border-left     : 1px solid #e4e6e8;
  border-right    : 1px solid #e4e6e8;
  cursor          : pointer;
}
div.top-nav div.tab2{
  color           : #848D95;
  font-size       : 12px;
  background-color: #FFF;
  padding         : 14px 11px 13px;
  margin          : 0 8px 0 0;
  border-bottom   : 1px solid #e4e6e8;
  cursor          : default;
}
div.top-nav div.tab3{
  color           : #848D95;
  font-size       : 12px;
  background-color: #FFF;
  padding         : 14px 11px 13px;
  margin          : 0 8px 0 0;
  border-bottom   : 1px solid #e4e6e8;
  cursor          : pointer;
}
div.top-nav div.tab2:hover{
  background-color   : rgba(132,141,149,0.05);
  border-color       : rgba(228,230,232,0.25);
  border-bottom-color: transparent;
}
div.top-nav div.tab3:hover{
  background-color   : rgba(132,141,149,0.05);
  border-color       : rgba(228,230,232,0.25);
  border-bottom-color: transparent;
}
div#left{
  margin-top : 3px;
}
div.box-center3{
  width      : 672px;
  margin-left: 2px;
  position   : relative;
}
div.center2{
  margin-left: 2px;
}
div.center2 p.ser{
  color    : #242729;
  font-size: 15px;
  margin   : 0 0 12px;
}
div.code{
  width           : 672px;
  height          : 200px;
  margin          : 0 0 13px;
  padding         : 11px 3px;
  background-color: #EFF0F1;
}
code span{
  white-space: normal;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  font-size  : 13px;
  color      : #858C93;
  line-height: 1.3;
}
span.color-code{
  color: #303336;
}
span.color-red{
  color: #7D2727;
}
div.box-center3 p.para1{
  color      : #242729;
  font-size  : 15px;
  margin     : 0 0 15px;
  line-height: 1.3;
}
div.box-center3 p.para1 a{
  text-decoration: underline;
}
div.box-center3 p.para1 code{
  font-size: 13px;
  padding  : 1px 5px 0 5px;
}
blockquote.quote1{
  color           : #242729;
  font-size       : 15px;
  background-color: #FFF8DC;
  margin          : 0 0 10px;
  padding         : 10px;
  border-left     : 2px solid #ffeb8e;
}
blockquote.quote1 p{
  color      : #242729;
  font-size  : 15px;
  margin     : 0 0 0;
  line-height: 1.3;
}
div.box-center3 p.para2{
  color      : #242729;
  font-size  : 15px;
  margin     : 0 0 15px;
  line-height: 1.3;
}
div.box-center3 p.para2 code{
  font-size: 13px;
  padding  : 1px 5px 0 5px;
}
div.sec-share2{
  margin-top: 18px;
}
div.user-cen{
  color      : #6A737C;
  font-family: 'Aria', Helvetica, sans-serif;
  font-size  : 13px;
  padding    : 5px 6px 7px 7px;
  position   : absolute;
  right      : 30px;
  top        : 408px;
}
div.user-date-2{
  margin-bottom: 5px;
}
div.user-date-2 a{
  color      : #6A737C;
  font-size  : 12px;
  font-family: 'Aria', Helvetica, sans-serif;
}
p.para3{
  color        : #242729;
  font-size    : 13px;
  padding      : 4px 6px 3px 24px;
  border-bottom: 1px solid #eff0f1;
  border-top   : 1px solid #eff0f1;
  margin-top   : 63px;
  margin-bottom: 0;
}
p.para3 a.bgcolor{
  font-size       : 13px;
  text-overflow   : #0077CC;
  background-color: #E1ECF4;
  padding         : 1px 4.5px 1px 6px;
  margin-left     : 3px;
  border-radius   : 3px;
}
p.para3 a span{
  color      : #9199A1;
  margin-left: 1px;
}
p.para4{
  color        : #242729;
  font-size    : 13px;
  padding      : 3px 6px 3px 24px;
  border-bottom: 1px solid #eff0f1;
  margin-bottom: 2px;
}
p.para4 a.bgcolor{
  font-size    : 13px;
  text-overflow: #0077CC;
  margin-left  : 3.5px;
}
p.para4 a span{
  color: #9199A1;
}
p.para5{
  color        : #242729;
  font-size    : 13px;
  padding      : 4px 6px 6px 24px;
  border-bottom: 1px solid #eff0f1;
  margin-bottom: 0;
  line-height  : 1.3;
}
p.para5 a.bgcolor{
  font-size       : 13px;
  text-overflow   : #0077CC;
  background-color: #E1ECF4;
  padding         : 1px 5.5px 1px 5px;
  margin-left     : 4px;
  border-radius   : 3px;
}
p.para5 a span{
  color      : #9199A1;
  margin-left: 0px;
}
p.para6{
  color        : #242729;
  font-size    : 13px;
  padding      : 6px 6px 6px 24px;
  border-bottom: 1px solid #eff0f1;
  margin-bottom: 2px;
  line-height: 1.3;
}
p.para6 a.bgcolor{
  font-size    : 13px;
  text-overflow: #0077CC;
  margin-left  : 3.5px;
}
p.para6 a span{
  color: #9199A1;
}
p.para7{
  color        : #242729;
  font-size    : 13px;
  padding      : 4px 6px 6px 24px;
  border-bottom: 1px solid #eff0f1;
  margin-bottom: 11px;
  line-height  : 1.3;
  position     : relative;
}
p.para7 a.bgcolor{
  font-size    : 13px;
  text-overflow: #0077CC;
  margin-left  : 3.5px;
}
p.para7 a span{
  color: #9199A1;
}
div.faz{
  position: relative;
}
div.faz2{
  color    : #9199A1;
  font-size: 13px;
  position : absolute;
  left     : 0px;
  top      : 5px;
}
a#a-tak{
  color    : #0077CC;
  font-size: 13px;
  padding  : 0 3px 2px;
}
div.notife{
  color           : #3B4045;
  font-size       : 13px;
  background-color: #E1F0Fc;
  padding         : 9px 50px 8px 16px;
  line-height     : 1.3;
  border          : 1px solid #CFDCE6;
  width           : 727px;
  border-radius   : 3px;
  margin-top      : 21px;
  position        : relative;
}
div.ab-exit{
  position     : absolute;
  padding      : 8px;
  border-radius: 4px;
  right        : 7px;
  top          : 10px;
  height       : 32px;
  width        : 32px;
  cursor       : pointer;
}
div.ab-exit:hover{
  background-color: rgba(0, 119, 204,0.05);
}
div.answer1 h2{
  color       : #242729;
  font-size   : 18px;
  margin      : 0 0 18px;
  padding     : 20px 0 0;
  word-spacing: 1px;
}
div.inputs div.input1{
  height: 45px;
  width : 727px;
  border: 1px solid #c8ccd0;
}
div.inputs div.input2{
  height       : 44px;
  width        : 727px;
  border-left  : 1px solid #c8ccd0;
  border-right : 1px solid #c8ccd0;
  border-bottom: 1px solid #c8ccd0;
}
div.inputs textarea{
  width        : 727px;
  height       : 199px;
  border-top   : none;
  border-left  : 1px solid #c8ccd0;
  border-right : 1px solid #c8ccd0;
  border-bottom: 1px solid #c8ccd0;
  resize       : none;
  padding      : 0.6em 0.7em;
  margin-bottom: 10px;
}
div.inputs textarea:focus{
  border-color: #66bfff;
  box-shadow  : 0 0 0 4px rgba(0,149,255,0.15);
  outline     : 0;
}
div.inputs div.khat{
  height       : 22px;
  width        : 727px;
  border-top   : 1px dotted #c8ccd0;
  border-bottom: 1px dotted #c8ccd0;
  margin-bottom: 16px;
}
div.center-log{
  display       : flex;
  flex-direction: row;
}
div.log-left div.titr1 h3{
  color      : #242729;
  font-size  : 21px;
  margin     : 4px 0;
  font-weight: normal;
}
div.log-left div.titr1 h3 a{
  color      : #0077CC;
  font-size  : 21px;
  font-weight: normal;
}
div.google{
  height          : 37px;
  width           : 355.5px;
  color           : #6A737C;
  font-size       : 13px;
  background-color: rgba(187, 192, 162, 0);
  margin          : 9px 0 4px 0;
  padding         : 8.4px;
  border          : 1px solid #adb3b9;
  border-radius   : 3px;
  position        : relative;
}
div.google svg{
  position: absolute;
  left    : 104px;
}
div.google span{
  position: absolute;
  left    : 125.5px;
  top     : 11px;
}
div.facebook{
  height          : 37.78px;
  width           : 355.5px;
  color           : #FFF;
  font-size       : 13px;
  background-color: #395697;
  margin          : 9px 0 4px 0;
  padding         : 10.4px;
  border-radius   : 3px;
  position        : relative;
}
div.facebook svg{
  position: absolute;
  left    : 97px;
}
div.facebook span{
  position: absolute;
  left    : 119px;
  top     : 13px;
}
div.stack-sign{
  height          : 37.78px;
  width           : 355.5px;
  color           : #6A737C;
  font-size       : 13px;
  background-color: rgba(187, 192, 162, 0);
  margin          : 9px 0 4px 0;
  padding         : 8.4px;
  border          : 1px solid #adb3b9;
  border-radius   : 3px;
  position        : relative;
}
div.stack-sign svg{
  position: absolute;
  left    : 66px;
}
div.stack-sign span{
  position: absolute;
  left    : 87px;
  top     : 11px;
}
div.log-right{
  margin-left: 16px;
}
div.log-right div.titr1 h3{
  color      : #242729;
  font-size  : 21px;
  margin     : 4px 0 3px 0;
  font-weight: normal;
}
div.input-r1{
}
div.input-r1 p{
  color      : #0C0D0E;
  font-size  : 15px;
  padding    : 0 2px;
  font-weight: bold;
  margin     : 0;
}
div.input-r1 input{
  background-color: #FFF;
  padding         : 7.8px 9.1px;
  height          : 32px;
  width           : 355.5px;
  border-radius   : 2px;
  border          : 1px solid #adb3b9;
  outline         : none;
  margin-top      : -1px;
  margin-bottom   : 5px;
}
div.input-r2{
}
div.input-r2 p.email{
  color      : #0C0D0E;
  font-size  : 15px;
  padding    : 0 2px;
  font-weight: bold;
  margin     : 0;
}
div.input-r2 p.text{
  color        : #3B4045;
  font-size    : 12px;
  padding      : 0 2px;
  margin-top   : -4px;
  margin-bottom: 3px;
}
div.input-r2 input{
  background-color: #FFF;
  padding         : 7.8px 9.1px;
  height          : 32.58px;
  width           : 355.5px;
  border-radius   : 2px;
  border          : 1px solid #adb3b9;
  outline         : none;
  margin-top      : -1px;
}
div.end-sec{
  margin-top: 38px;
}
div.post1 a{
  color: #FFF;
  font-size: 13px;
  background-color: #0095FF;
  padding: 10px 11px 11px 10.4px;
  border-radius: 3px;
  border: 1px solid #07c;
  box-shadow: inset 0 1px 0 0 rgba(102,191,255,0.75), 0 0 0 0 rgba(0,149,255,0);
}
div.click{
  margin: 24px 0 0 -2px;
}
div.click p{
  color     : #242729;
  font-size : 13px;
  font-style: italic;
}
div.end-text{
  width     : 750px;
  margin-top: 39px;
}
div.end-text a.bgcolor{
  font-size       : 12px;
  text-overflow   : #0077CC;
  background-color: #E1ECF4;
  padding         : 4px 7px 5px 7px;
  margin-left     : 2.5px;
  border-radius   : 3px;
  color           : #39739d;
  font-weight     : normal;
}
div.end-text a#first{
  margin-left: 0;
}
div.end-text a#second{
  padding: 4px 6.5px 5px 7px;
}
div.end-text a#end{
  margin-right: 2px;
}
div.end-text a.end{
  font-weight: normal;
  color      : #07C;
}
div.end-text a.bgcolor:hover{
  color           : #33658a;
  background-color: #cee0ed;
  border-color    : #cee0ed;
}
div.end-text a.end:hover{
  color: #3af;
}
div.end-text h2{
  font-weight: normal;
  line-height: 1.65;
  color      : #242729;
  font-size  : 16px;
  margin     : 15px 0 16px;
  padding    : 0 10px 0 0;
}
div.sidebar{
  width   : 164px;
  position: fixed;
  left    : 296px;
  top     : 79px;
}
div.sidebar div.home{
  color      : #535A60;
  font-size  : 13px;
  padding    : 4px 4px 4px 8px;
  font-family: 'Aria', Helvetica, sans-serif;
  cursor     : pointer;
}
div.sidebar div.public{
  color      : #6A737C;
  font-size  : 11px;
  font-family: 'Aria', Helvetica, sans-serif;
  margin     : 20px 0 5px 8px;
}
div.sidebar div.stack{
  color           : #0C0D0E;
  font-family     : 'Aria', Helvetica, sans-serif;
  font-size       : 13px;
  background-color: rgba(12, 13, 14, 0.05);
  padding         : 5px 6px 8px 8px;
  border-right    : 3px solid #F48024;
  font-weight     : bold;
  cursor          : pointer;
}
div.sidebar div.stack span{
  font-size: 18px;
}
div.sidebar div.tags{
  color      : #535A60;
  font-family: 'Aria', Helvetica, sans-serif;
  font-size  : 13px;
  padding    : 9px 4px 4px 30px;
  cursor     : pointer;
}
div.sidebar div.user{
  color      : #535A60;
  font-family: 'Aria', Helvetica, sans-serif;
  font-size  : 13px;
  padding    : 13px 4px 4px 30px;
  cursor     : pointer;
}
div.sidebar div.jobs{
  color      : #535A60;
  font-family: 'Aria', Helvetica, sans-serif;
  font-size  : 13px;
  padding    : 13px 4px 4px 30px;
  cursor     : pointer;
}
div.sidebar div.free{
  display       : flex;
  flex-direction: row;
  margin        : 28px 0 5px 8px;
}
div.sidebar div.team{
  color      : #6A737C;
  font-size  : 11px;
  font-family: 'Aria', Helvetica, sans-serif;
}
div.sidebar div.what{
  color      : #6A737C;
  font-size  : 11px;
  font-family: 'Aria', Helvetica, sans-serif;
  margin-left: 54.5px;
  cursor     : pointer;
}
div.sidebar div.side-down{
  color    : #535A60;
  font-size: 13px;
  padding  : 4px 4px 4px 8px;
  position : relative;
  display  : flex;
}
div.side-down div.text{
  padding: 5px 0 0 6px;
}
div.side-down div.icons{
  background-color: #F48024;
  height          : 16px;
  width           : 16px;
  padding         : 0;
  border-radius   : 2px;
  margin-top      : 4px;
}
div.side-down div.icons svg.faz{
  fill  : #FFF;
  margin: 1px 0 0 1px;
}
div.side-down div.icons svg.faz2{
  position: absolute;
  top     : 18px;
  left    : 19px;
}
div.side-down div{
  font-family: 'Aria', Helvetica, sans-serif;
  padding    : 5px 2px 0px 22px;
}
div.sidebar div.home:hover{
  color: #0C0D0E;
}
div.sidebar div.tags:hover{
  color: #0C0D0E;
}
div.sidebar div.user:hover{
  color: #0C0D0E;
}
div.sidebar div.jobs:hover{
  color: #0C0D0E;
}
div.side-down div.text:hover{
  color: #0C0D0E;
}
footer{
  height          : 297px;
  width           : 1856px;
  font-size       : 13px;
  background-color: #242729;
  color           : #6A737C;
  position        : absolute;
  bottom          : 0;
}
div.footer{
  height  : 100%;
  width   : 100%;
  position: relative;
  display : flex;
}
div.logo-footer{
  position: absolute;
  left    : 308px;
  top     : 20px;
}
div.col1{
  position: absolute;
  left    : 372px;
  top     : 26px;
}
div.col1 h6{
  margin-bottom: 4px;
}
div.col1 h5{
  margin-bottom: 11px;
}
div.col1 h6 a{
  font-weight: normal;
  color      : #848D95;
  font-size  : 13px;
}
div.col1 h5 a#stack{
  color    : #BBC0C4;
  font-size: 13px;
}
div.col2{
  position: absolute;
  left    : 625px;
  top     : 26px;
}
div.col2 h6{
  margin-bottom: 4px;
}
div.col2 h5{
  margin-bottom: 11px;
}
div.col2 h6 a{
  font-weight: normal;
  color      : #848D95;
  font-size  : 13px;
}
div.col2 h5 a#stack{
  color    : #BBC0C4;
  font-size: 13px;
}
div.col3{
  position: absolute;
  left    : 805px;
  top     : 26px;
}
div.col3 h6{
  margin-bottom: 4px;
}
div.col3 h5{
  margin-bottom: 11px;
}
div.col3 h6 a{
  font-weight: normal;
  color      : #848D95;
  font-size  : 13px;
}
div.col3 h5 a#stack{
  color    : #BBC0C4;
  font-size: 13px;
}
div.col4{
  position: absolute;
  left    : 993px;
  top     : 30px;
  width   : 186px;
}
div.col4 h6{
  margin-bottom: 4px;
}
div.col4 h5{
  margin-bottom: 15px;
  line-height  : 0.9;
}
div.col4 h6 a{
  font-weight: normal;
  color      : #848D95;
  font-size  : 13px;
}
div.col4 h5 a#stack{
  color    : #BBC0C4;
  font-size: 13px;
}
span.sf-angle-right{
  background-color: rgba(132, 141, 149, 0.35);
  opacity         : 0.5;
  border-radius   : 3px;
  min-height      : 12px;
  min-width       : 12px;
  font-size       : 10px;
  color           : #D6D6D6;
  vertical-align  : baseline;
  margin-bottom   : 2px;
}
div.col5{
  position: absolute;
  right   : 440.5px;
  top     : 31px;
  display : flex;
}
div.col5 h6{
  margin-bottom: 4px;
}
div.col5 h6 a{
  font-weight : normal;
  color       : #848D95;
  font-size   : 11px;
  margin-right: 12px;
}
div.col6{
  position: absolute;
  right   : 318.5px;
  bottom  : 25px;
}
div.col6 p{
  color      : #6A737C;
  font-size  : 11px;
  line-height: 1.2;
}
div.col6 a{
  color    : #848d95;
  font-size: 11px;
}
div h5 a#stack:hover{
  color: #f2f3f3;
}
div h6 a:hover{
  color: #bbc0c4;
}
div.box-right3{
  position        : absolute;
  right           : 0;
  top             : 36px;
  height          : 60px;
  width           : 300px;
  background-image: linear-gradient(to right, rgba(240,107,50,1) 0%, rgba(243,136,52,1) 100%);
  cursor          : pointer;
}
div.box-right3 svg{
  position: absolute;
  left    : 22px;
  top     : 8px;
  height  : 40px;
  width   : 40px;
  opacity : 0.8;
}
div.box-right3 span{
  color    : #FFF;
  font-size: 20px;
  position : absolute;
  left     : 66px;
  top      : 19px;
}
div.box-right4{
  height    : 549.8px;
  width     : 300px;
  position  : absolute;
  right     : 0;
  top       : 96px;
  padding   : 12px;
  border    : 1px solid #e4e6e8;
  border-top: none;
}
div.box-right4 div.box-1{
  height       : 118px;
  width        : 274px;
  padding      : 6px 0;
  border-bottom: 1px dotted rgba(51, 51, 51 ,0.2);
}
div.box-1 div.link1{
  color      : #0077CC;
  font-size  : 13px;
  font-weight: bold;
  line-height: 1.3;
  margin     : 3px 0;
  padding    : 0 12px 0 0;
}
div.box-1 div.result1{
  display: flex;
  margin : 5px 0;
}
div.box-1 span.text1{
  color      : #858C93;
  font-weight: bold;
  font-size  : 12px;
  margin     : 0 7px 0 0;
}
div.box-1 svg.num1{
  height    : 12px;
  width     : 12px;
  fill      : #b5b7b8;
  margin-top: -1px;
}
div.box-1 span.text2{
  color     : #858C93;
  font-size : 12px;
  font-style: italic;
}
div.box-1 div.wifi{
  display: flex;
}
div.box-1 svg.num2{
  fill  : #DBB027;
  height: 14px;
  width : 14px;
}
div.box-1 span.text3{
  color      : #DBB027;
  font-weight: bold;
  font-size  : 11px;
  padding    : 1px 0 0 2px;
}
div.box-1 div.botton{
  display: flex;
}
div.box-1 div.botton a.a1{
  color           : #39739D;
  font-size       : 12px;
  font-family     : 'Aria', Helvetica, sans-serif;
  background-color: #E1ECF4;
  margin          : 4px 2px 1px 0;
  padding         : 6px 7px 4.8px 7px;
}
div.box-1 div.botton a.a2{
  color           : #39739D;
  font-size       : 12px;
  font-family     : 'Aria', Helvetica, sans-serif;
  background-color: #E1ECF4;
  margin          : 4px 5px 1px 0;
  padding         : 6px 7px 4.8px 7px;
}
div.box-1 div.botton a:hover{
  color           : #33658a;
  background-color: #cee0ed;
  border-color    : #cee0ed;
}
div.box-right4 div.box-2{
  height       : 102px;
  width        : 274px;
  padding      : 6px 0;
  border-bottom: 1px dotted rgba(51, 51, 51 ,0.2);
}
div.box-2 div.link1{
  color      : #0077CC;
  font-size  : 13px;
  font-weight: bold;
  line-height: 1.3;
  margin     : 3px 0;
  padding    : 0 12px 0 0;
}
div.box-2 div.result1{
  display: flex;
  margin : 5px 0;
}
div.box-2 span.text1{
  color      : #858C93;
  font-weight: bold;
  font-size  : 12px;
  margin     : 0 7px 0 0;
}
div.box-2 svg.num1{
  height    : 12px;
  width     : 12px;
  fill      : #b5b7b8;
  margin-top: -1px;
}
div.box-2 span.text2{
  color     : #858C93;
  font-size : 12px;
  font-style: italic;
}
div.box-2 div.wifi{
  display: flex;
}
div.box-2 span.free{
  color      : #45A163;
  font-size  : 11px;
  font-weight: bold;
  margin     : 1px 7px 0 0;
}
div.box-2 svg.num2{
  fill  : #DBB027;
  height: 14px;
  width : 14px;
}
div.box-2 span.text3{
  color      : #DBB027;
  font-weight: bold;
  font-size  : 11px;
  padding    : 1px 0 0 2px;
}
div.box-2 div.botton{
  display: flex;
}
div.box-2 div.botton a.a1{
  color           : #39739D;
  font-size       : 12px;
  font-family     : 'Aria', Helvetica, sans-serif;
  background-color: #E1ECF4;
  margin          : 4px 2px 1px 0;
  padding         : 6px 7px 4.8px 7px;
}
div.box-2 div.botton a.a2{
  color           : #39739D;
  font-size       : 12px;
  font-family     : 'Aria', Helvetica, sans-serif;
  background-color: #E1ECF4;
  margin          : 4px 5px 1px 0;
  padding         : 6px 7px 4.8px 7px;
}
div.box-2 div.botton a:hover{
  color           : #33658a;
  background-color: #cee0ed;
  border-color    : #cee0ed;
}
div.box-right4 div.box-3{
  height       : 118px;
  width        : 274px;
  padding      : 6px 0;
  border-bottom: 1px dotted rgba(51, 51, 51 ,0.2);
}
div.box-3 div.link1{
  color      : #0077CC;
  font-size  : 13px;
  font-weight: bold;
  line-height: 1.3;
  margin     : 3px 0;
  padding    : 0 12px 0 0;
}
div.box-3 div.result1{
  display: flex;
  margin : 5px 0;
}
div.box-3 span.text1{
  color      : #858C93;
  font-weight: bold;
  font-size  : 12px;
  margin     : 0 7px 0 0;
}
div.box-3 svg.num1{
  height    : 12px;
  width     : 12px;
  fill      : #b5b7b8;
  margin-top: -1px;
}
div.box-3 span.text2{
  color     : #858C93;
  font-size : 12px;
  font-style: italic;
}
div.box-3 div.wifi{
  display: flex;
}
div.box-3 span.free{
  color      : #45A163;
  font-size  : 11px;
  font-weight: bold;
  margin     : 1px 7px 0 0;
}
div.box-3 svg.num2{
  fill  : #DBB027;
  height: 14px;
  width : 14px;
}
div.box-3 span.text3{
  color      : #DBB027;
  font-weight: bold;
  font-size  : 11px;
  padding    : 1px 0 0 2px;
}
div.box-3 div.botton{
  display: flex;
}
div.box-3 div.botton a.a1{
  color           : #39739D;
  font-size       : 12px;
  font-family     : 'Aria', Helvetica, sans-serif;
  background-color: #E1ECF4;
  margin          : 4px 2px 1px 0;
  padding         : 6px 7px 4.8px 7px;
}
div.box-3 div.botton a.a2{
  color           : #39739D;
  font-size       : 12px;
  font-family     : 'Aria', Helvetica, sans-serif;
  background-color: #E1ECF4;
  margin          : 4px 5px 1px 0;
  padding         : 6px 7px 4.8px 7px;
}
div.box-3 div.botton a:hover{
  color           : #33658a;
  background-color: #cee0ed;
  border-color    : #cee0ed;
}
div.box-right4 div.box-4{
  height       : 102px;
  width        : 274px;
  padding      : 6px 0;
  border-bottom: 1px dotted rgba(51, 51, 51 ,0.2);
}
div.box-4 div.link1{
  color      : #0077CC;
  font-size  : 13px;
  font-weight: bold;
  line-height: 1.3;
  margin     : 3px 0;
  padding    : 0 12px 0 0;
}
div.box-4 div.result1{
  display: flex;
  margin : 5px 0;
}
div.box-4 span.text1{
  color      : #858C93;
  font-weight: bold;
  font-size  : 12px;
  margin     : 0 7px 0 0;
}
div.box-4 svg.num1{
  height    : 12px;
  width     : 12px;
  fill      : #b5b7b8;
  margin-top: -1px;
}
div.box-4 span.text2{
  color     : #858C93;
  font-size : 12px;
  font-style: italic;
}
div.box-4 div.wifi{
  display: flex;
}
div.box-4 svg.num2{
  fill  : #DBB027;
  height: 14px;
  width : 14px;
}
div.box-4 span.text3{
  color      : #DBB027;
  font-weight: bold;
  font-size  : 11px;
  padding    : 1px 0 0 2px;
}
div.box-4 div.botton{
  display: flex;
}
div.box-4 div.botton a.a1{
  color           : #39739D;
  font-size       : 12px;
  font-family     : 'Aria', Helvetica, sans-serif;
  background-color: #E1ECF4;
  margin          : 4px 2px 1px 0;
  padding         : 6px 7px 4.8px 7px;
}
div.box-4 div.botton a.a2{
  color           : #39739D;
  font-size       : 12px;
  font-family     : 'Aria', Helvetica, sans-serif;
  background-color: #E1ECF4;
  margin          : 4px 5px 1px 0;
  padding         : 6px 7px 4.8px 7px;
}
div.box-4 div.botton a:hover{
  color           : #33658a;
  background-color: #cee0ed;
  border-color    : #cee0ed;
}
div.box-5{
  height: 85.8px;
  width : 274px;
}
div.box-5 p{
  color      : #848D95;
  font-size  : 12px;
  margin     : 12px 0;
  line-height: 1.4;
}
div.box-5 div.botton a{
  color           : #FFF;
  font-size       : 12px;
  background-color: #0095FF;
  padding         : 6.5px 12px 7.2px 12px;
  border-radius   : 1px;
  position        : absolute;
  left            : 12px;
  bottom          : 12px;
  box-shadow      : inset 0 1px 0 #66bfff;
  border          : 1px solid #07C;
}
div.box-5 div.botton a:hover{
  color           : rgba(255,255,255,0.9);
  background-color: #07C;
  border-color    : #005999;
  box-shadow      : inset 0 1px 0 #3af;
}
div.box-right5{
  position: absolute;
  right   : 0;
  top     : 664px;
  width   : 300px;
  height  : 455px;
}
div.box-right5 div.title h4{
  color    : #242729;
  font-size: 18px;
  margin   : 0 0 16px;
}
div.box-right5 div.row1{
  display: flex;
  margin-bottom: 12px;
}
div.box-right5 div.row1 div.num{
  color           : #FFF;
  font-size       : 11.7px;
  background-color: #5FBA7D;
  padding         : 5px 6px;
  cursor          : pointer;
  border-radius   : 2px;
}
div.box-right5 div.row1 div.text{
  color    : #0077CC;
  font-size: 13px;
  padding  : 4px 10px 0;
}
div.box-right5 div.row2{
  display: flex;
  margin-bottom: 11px;
}
div.box-right5 div.row2 div.num{
  color           : #FFF;
  font-size       : 11.7px;
  background-color: #5FBA7D;
  padding         : 5px 6px;
  cursor          : pointer;
  border-radius   : 2px;
  max-height      : 23px;
}
div.box-right5 div.row2 div.text{
  color      : #0077CC;
  font-size  : 13px;
  padding    : 3px 10px 0;
  line-height: 1.3;
}
div.box-right5 div.row3{
  display: flex;
  margin-bottom: 11px;
}
div.box-right5 div.row3 div.num{
  color           : #FFF;
  font-size       : 11.7px;
  background-color: #5FBA7D;
  padding         : 5px 6px;
  cursor          : pointer;
  border-radius   : 2px;
  max-height      : 23px;
}
div.box-right5 div.row3 div.text{
  color      : #0077CC;
  font-size  : 13px;
  padding    : 3px 10px 0;
  line-height: 1.3;
}
div.box-right5 div.row4{
  display: flex;
  margin-bottom: 12px;
}
div.box-right5 div.row4 div.num{
  color           : #FFF;
  font-size       : 11.7px;
  background-color: #5FBA7D;
  padding         : 5px 6px;
  cursor          : pointer;
  border-radius   : 2px;
  max-height      : 23px;
}
div.box-right5 div.row4 div.text{
  color      : #0077CC;
  font-size  : 13px;
  padding    : 3px 10px 0;
  line-height: 1.3;
}
div.box-right5 div.row5{
  display: flex;
  margin-bottom: 11px;
}
div.box-right5 div.row5 div.num{
  color           : #FFF;
  font-size       : 11.7px;
  background-color: #5FBA7D;
  padding         : 5px 6px;
  cursor          : pointer;
  border-radius   : 2px;
  max-height      : 23px;
}
div.box-right5 div.row5 div.text{
  color      : #0077CC;
  font-size  : 13px;
  padding    : 3px 10px 0;
  line-height: 1.3;
}
div.box-right5 div.row6{
  display: flex;
  margin-bottom: 12px;
}
div.box-right5 div.row6 div.num{
  color           : #FFF;
  font-size       : 11.7px;
  background-color: #5FBA7D;
  padding         : 5px 6px;
  cursor          : pointer;
  border-radius   : 2px;
  max-height      : 23px;
}
div.box-right5 div.row6 div.text{
  color      : #0077CC;
  font-size  : 13px;
  padding    : 3px 1px 0 10px;
  line-height: 1.3;
}
div.box-right5 div.row7{
  display: flex;
  margin-bottom: 11px;
}
div.box-right5 div.row7 div.num{
  color           : #FFF;
  font-size       : 11.7px;
  background-color: #5FBA7D;
  padding         : 5px 7px 5px 9px;
  cursor          : pointer;
  border-radius   : 2px;
  max-height      : 23px;
  min-width       : 38.2px;
}
div.box-right5 div.row7 div.text{
  color      : #0077CC;
  font-size  : 13px;
  padding    : 3px 10px 0;
  line-height: 1.3;
}
div.box-right5 div.row8{
  display: flex;
  margin-bottom: 11px;
}
div.box-right5 div.row8 div.num{
  color           : #FFF;
  font-size       : 11.7px;
  background-color: #5FBA7D;
  padding         : 5px 6px;
  cursor          : pointer;
  border-radius   : 2px;
  max-height      : 23px;
}
div.box-right5 div.row8 div.text{
  color      : #005999;
  font-size  : 13px;
  padding    : 3px 10px 0;
  line-height: 1.3;
}
div.box-right5 div.row9{
  display: flex;
  margin-bottom: 11px;
}
div.box-right5 div.row9 div.num{
  color           : #FFF;
  font-size       : 11.7px;
  background-color: #5FBA7D;
  padding         : 5px 6px;
  cursor          : pointer;
  border-radius   : 2px;
  max-height      : 23px;
}
div.box-right5 div.row9 div.text{
  color      : #0077CC;
  font-size  : 13px;
  padding    : 3px 1px 0 10px;
  line-height: 1.3;
}
div.box-right5 div.row10{
  display: flex;
  margin-bottom: 10px;
}
div.box-right5 div.row10 div.num{
  color           : #FFF;
  font-size       : 11.7px;
  background-color: #5FBA7D;
  padding         : 5px 6px;
  cursor          : pointer;
  border-radius   : 2px;
  max-height      : 23px;
}
div.box-right5 div.row10 div.text{
  color      : #0077CC;
  font-size  : 13px;
  padding    : 3px 10px 0;
  line-height: 1.3;
}
div.box-right5 div{
  cursor: pointer;
}
div.box-right5 div div.text:hover{
  color: #3af;
}
div.box-right5 div.row8 div.text:hover{
  color: #005999;
}
div.box-right6{
  height  : 280px;
  width   : 300px;
  position: absolute;
  right   : 0;
  bottom  : 270px;
  padding : 14px 0 0 0;
}
div.box-right6 div.title h4{
  cursor   : pointer;
  color    : #242729;
  font-size: 18px;
}
div.box-right6 div.text{
  height : 200px;
  width  : 300px;
  padding: 12px 0 0 22px;
}
div.box-right6 div.text div.t1{
  color      : #0077CC;
  font-size  : 12px;
  cursor     : pointer;
  line-height: 1.3;
}
div.box-right6 div.text div.t2{
  color      : #0077CC;
  font-size  : 12px;
  cursor     : pointer;
  line-height: 1.3;
  margin-top : 10px;
}
div.box-right6 div.text div.t3{
  color      : #0077CC;
  font-size  : 12px;
  cursor     : pointer;
  line-height: 1.3;
  margin-top : 13px;
}
div.box-right6 div.text div.t4{
  color      : #0077CC;
  font-size  : 12px;
  cursor     : pointer;
  line-height: 1.3;
  margin-top : 13px;
}
div.box-right6 div.text div.t5{
  color      : #0077CC;
  font-size  : 12px;
  cursor     : pointer;
  line-height: 1.3;
  margin-top : 13px;
}
div.box-right6 div.text div.t6{
  color      : #0077CC;
  font-size  : 12px;
  cursor     : pointer;
  line-height: 1.3;
  margin-top : 13px;
}
div.box-right6 div.text div.t7{
  color      : #0077CC;
  font-size  : 13px;
  cursor     : pointer;
  line-height: 1.3;
  margin-top : 23px;
  margin-left: -0.5px;
}
div.box-right6 svg{
  position: absolute;
  left    : 0;
  bottom  : 5px;
  fill    : #F48024;
}