*{
  box-sizing: border-box;
}
@font-face{
  font-family: 'font1';
  src:  url(font/BngMUXZYTXPIvIBgJJSb6ufN5qA.ttf);
}
@font-face{
  font-family: 'font2';
  src:  url(font/BngRUXZYTXPIvIBgJJSb6u92w7CGwRg.ttf);
}
body{
  position: relative;
  height: 2453.16px;
}
header{
  position: fixed;
  top     : 0;
  width   : 1856px;
}
div.top-header{
  width           : 1856px;
  height          : 3px;
  background-color: #F48024;
}
div.down-header{
  width           : 1856px;
  height          : 47px;
  box-shadow      : 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
  background-color: #fafafb;
  position        : relative;
}
div.signup a{
  width           : 66.88px;
  height          : 33px;
  padding         : 9px 10.4px;
  font-size       : 13px;
  font-family     : 'Aria', Helvetica, sans-serif;
  font-weight     : 100;
  color           : #FFF;
  background-color: #0095ff;
  border          : 1px solid #07c;
  box-shadow      : inset 0 1px 0 #66bfff;
  position        : absolute;
  right           : 304px;
  top             : 7px;
  border-radius   : 3px;
}
div.signup a:hover{
  color           : rgba(255,255,255,0.9);
  background-color: #07c;
  border-color    : #005999;
  box-shadow      : inset 0 1px 0 #3af;
}
div.login a{
  color        : #0077CC;
  font-size    : 13px;
  font-family  : 'Aria', Helvetica, sans-serif;
  padding      : 10px 10px 10px 11px;
  border-radius: 3px;
  position     : absolute;
  top          : 7px;
  right        : 374px;
  width        : 58.2px;
  height       : 33px;
}
div.login a:hover{
  color           : #005999;
  background-color: rgba(0,119,204,0.1);
  border-color    : transparent;
  box-shadow      : none;
}
div.search input{
  background-color: #FFF;
  padding         : 9.8px 9.1px 7.8px 32px;
  width           : 650.39px;
  height          : 32.59px;
  position        : absolute;
  top             : 7px;
  right           : 449px;
  border-radius   : 2px;
  border          : 1px solid #bbc0c4;
}
div.search input::placeholder{
  opacity  : 0.5;
  font-size: 12px;
}
div.search span{
  font-size  : 18px;
  position   : absolute;
  top        : 10px;
  left       : 42.5em;
  color      : #bbc0c4;
  font-weight: normal;
}
div.link-header{
  color         : #242729;
  font-size     : 13px;
  font-family   : 'Aria', Helvetica, sans-serif;
  position      : absolute;
  top           : 10px;
  left          : 464px;
  display       : flex;
  flex-direction: row-reverse;
}
div.link-header a.use{
  height       : 28px;
  color        : #535A60;
  font-size    : 13px;
  font-family  : 'Aria', Helvetica, sans-serif;
  padding      : 7px 16px;
  margin-left  : 4px;
  border-radius: 50px;
}
div.link-header a.use:hover{
  background-color: #e4e6e8;
  color           : #0C0D0E;
  text-decoration : none;
  outline         : none;
}
div.link-header a.cus{
  height       : 28px;
  color        : #535A60;
  font-size    : 13px;
  font-family  : 'Aria', Helvetica, sans-serif;
  padding      : 7px 16px;
  margin-left  : 4px;
  border-radius: 50px;
}
div.link-header a.cus:hover{
  background-color: #e4e6e8;
  color           : #0C0D0E;
  text-decoration : none;
  outline         : none;
}
div.link-header a.pro{
  height       : 28px;
  color        : #535A60;
  font-size    : 13px;
  font-family  : 'Aria', Helvetica, sans-serif;
  padding      : 7px 16px;
  border-radius: 50px;
}
div.link-header a.pro:hover{
  background-color: #e4e6e8;
  color           : #0C0D0E;
  text-decoration : none;
  outline         : none;
}
div.all{
  width           : 1100px;
  height          : 2106.16px;
  color           : #242729;
  background-color: #FFF;
  padding         : 0 24px 24px 24px;
  border-left     : 1px solid #d6d9dc;
  margin-left     : 460px;
  margin-top      : 50px;
}
div.section1{
  position: relative;
  display: flex;
  flex-direction: row;
}
div.ques{
  margin-top: 27px;
}
div.ques a{
  color      : #242729;
  font-size  : 27px;
  font-family: 'Aria', Helvetica, sans-serif;
}
div.ask a{
  margin-top      : 24px;
  color           : #FFF;
  font-size       : 13px;
  font-family     : 'Aria', Helvetica, sans-serif;
  background-color: #0095FF;
  padding         : 12px 11px 10px 11px;
  position        : absolute;
  right           : 0;
  top             : 0;
  border-color    : #07c;
  box-shadow      : inset 0 1px 0 0 rgba(102,191,255,0.75), 0 0 0 0 rgba(0,149,255,0);
  color           : #FFF;
  border-radius   : 3px;
  height          : 37.78px;
  width           : 100.09px;
}
div.ask a:focus{
  background-color: #0095ff;
}







div.sidebar{
  width   : 164px;
  position: fixed;
  left    : 296px;
  top     : 79px;
}
div.sidebar div.home{
  color      : #535A60;
  font-size  : 13px;
  padding    : 4px 4px 4px 8px;
  font-family: 'Aria', Helvetica, sans-serif;
}
div.sidebar div.public{
  color      : #6A737C;
  font-size  : 11px;
  font-family: 'Aria', Helvetica, sans-serif;
  margin     : 20px 0 5px 8px;
}
div.sidebar div.stack{
  color           : #0C0D0E;
  font-family     : 'Aria', Helvetica, sans-serif;
  font-size       : 13px;
  background-color: rgba(12, 13, 14, 0.05);
  padding         : 5px 6px 8px 8px;
  border-right    : 3px solid #F48024;
  font-weight     : bold;
}
div.sidebar div.stack span{
  font-size: 18px;
}
div.sidebar div.tags{
  color      : #535A60;
  font-family: 'Aria', Helvetica, sans-serif;
  font-size  : 13px;
  padding    : 9px 4px 4px 30px;
}
div.sidebar div.user{
  color      : #535A60;
  font-family: 'Aria', Helvetica, sans-serif;
  font-size  : 13px;
  padding    : 13px 4px 4px 30px;
}
div.sidebar div.jobs{
  color      : #535A60;
  font-family: 'Aria', Helvetica, sans-serif;
  font-size  : 13px;
  padding    : 13px 4px 4px 30px;
}
div.sidebar div.free{
  display: flex;
  flex-direction: row;
  margin     : 28px 0 5px 8px;
}
div.sidebar div.team{
  color      : #6A737C;
  font-size  : 11px;
  font-family: 'Aria', Helvetica, sans-serif;
}
div.sidebar div.what{
  color      : #6A737C;
  font-size  : 11px;
  font-family: 'Aria', Helvetica, sans-serif;
  margin-left: 54.5px;
}
div.sidebar div.side-down{
  color    : #535A60;
  font-size: 13px;
  padding  : 4px 4px 4px 8px;
  position : relative;
}
div.side-down div.icon{
  position        : absolute;
  color           : white;
  background-color: #F48024;
  left            : 5px;
  top             : 5px;
  height          : 14px;
  width           : 8px;
  font-size       : 12px;
}
div.side-down div{
  font-family: 'Aria', Helvetica, sans-serif;
  padding    : 5px 2px 0px 22px;
}
